// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  padding-left: 20px;
  padding-right: 20px;
  clear: both;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}

#map_canvas {
  width: 1120px;
  height: 560px;
}

.navbar-inner {
  padding-left: 100px;
  padding-right: 60px;
}

.navbar .nav {
  float: right;
}