// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.right {
  float: right;
}

.control-group {
  margin: 30px 0;

  label {
    display: inline;
    float: left;
    width: 100px;
    text-align: right;
  }

  .controls {
    input {
      margin-left: 20px;
    }
    textarea {
      margin-left: 20px;
      width: 60%;
      height: 100px;
    }
    .text {
      margin-left: 20px;
    }
    font#character {
      float: right;
      margin-right: 200px;
    }
  }
}

#submit {
  text-align: center;
  button {
    width: 300px;
    height: 45px;
    background-color: #efaf02;
    border-style: none;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}

.study_location {
  margin-left: 100px;
  td { padding:0.3em; white-space:nowrap; }
  td.left { text-align:left; }
  td.center { text-align:center; }
  td.right { text-align:right; } 
  div.main_text { font-size:100%; line-height:125%; }
  div.main_text { text-align:justify; text-justify:inter-ideograph; }
  p.footnote { margin-top:0.5em; margin-bottom:0.5em; font-size:70%; line-height:120%; }
  p.footnote { text-align:justify; text-justify:inter-ideograph; }
  #button {
    width: 100px;
    height: 30px;
    background-color: #efaf02;
    border-style: none;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;   
  }
}
